.DS_Store
/.devpanel/dumps/
/.devpanel/salt.txt
/.editorconfig
/.gitattributes
/.vscode/
/composer.json
/composer.lock
/config/
/logs/*
/patches.lock.json
/private/
/README.md
/recipes/
/vendor/
/web/
/modules/