.DS_Store
*.swp
*.swo
*~
.claude/settings.local.json
/.devpanel/dumps/
/.devpanel/salt.txt
/.editorconfig
/.gitattributes
/.vscode/
/composer.json
/composer.lock
/config/
/logs/*
/patches.lock.json
/private/
/README.md
/recipes/
/vendor/
/web/
/modules/